@import '../../../assets/styles/colors.scss';

.header_section{
  transition: 0.25s ease-in-out all;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 230px;
  z-index: 99;
  height: 63px;
  // background: var(--secondary-color);
  background: white;
  width: 100%;
  display: flex;
  gap: 45px;
  padding-left: 35px;
  align-items: center;
  font-size: 16px;
  box-shadow: 0px 0px 1px 0px #cbcbcb;
}